html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 2rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif, Arial, Helvetica, sans-serif;
  color: #111;
  font-weight: 900;
  line-height: 1.1;
}
h1 {
  font-size: 5.61rem;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}

h4 {
  font-size: 2.369rem;
}

h5 {
  font-size: 1.777rem;
}

h6 {
  font-size: 1.333rem;
}
.desc {
  font-family: "PT Serif", serif, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}
img {
  width: 100%;
}
ol li {
  margin-bottom: 2rem;
}
